.about__quote {
  padding: 100px 0;
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    .heading {
      max-width: 30ch;
      font-size: clamp(2rem, 2vw, 3.5rem);
      line-height: 1.3;
      margin-bottom: 100px;
      text-align: center;
    }

    .btn {
      font-size: 2.5rem;
      font-weight: 600;
      display: inline-block;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin: 0 auto 5rem;
      transition: all 0.3s;

      &__primary {
        width: 15rem;
        height: 15rem;
        color: $white;
        background: $black;
        position: relative;
        z-index: 2;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.04);
        overflow: hidden;
      }
    }
  }
}
