@import "./variables";
@import "./utils/spacing";
@import "./utils/breakpoints";
@import "./cursor";
@import "./animations";
@import "./cards";
@import "./header";
@import "./about";
@import "./containers";
@import "./footer";

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  box-sizing: border-box;
}

::selection {
  background: $white;
  color: $black;
}

a {
  text-decoration: none;
  color: $black;
}

body {
  background-color: $bgPrimary;
  font-family: $fontPrimary;
}
